html {
  background-color: #bd4204;
}

body {
  background-color: rgba(0, 0, 0, 0)!important;
}

.background {
  background-image: url(../img/pxArt.png);
  filter: blur(3px);
  -webkit-filter: blur(3px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 70%;
  z-index: -1;
  box-shadow: 0px 0px 100px 50px  rgba(0,0,0,0.1) inset;
}

.main .container {
  position: relative;
  z-index: 5;
}