body {
  background: #000;
  color: #fff;
  font-family: "Times New Roman", cursive;
  background-image: url("https://media.istockphoto.com/id/2140876487/nl/foto/space-background-star-nebula-cosmos-texture-sky-universe-cosmic-backdrop-astronomy-black-dark.jpg?s=612x612&w=0&k=20&c=A0Gx3pGYqj7u1rYrQ5YpYwIqDpEEZHxArEciOFxF8ZA=");
  background-size: auto;
  background-repeat: repeat;
}
