html,
body {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  background-image: url("../img/yesbuildings.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.spot {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #fff;
  transition: transform 0.3s, background-color 0.3s;
}

.spot:hover {
  transform: scale(1.2);
  background-color: rgba(255, 255, 255, 0.8);
}

/* Positioning the spots */
#library {
  top: 19%;
  left: 35%;
}

#graveyard {
  top: 14%;
  right: 46%;
}

#school {
  bottom: 33%;
  left: 25%;
}

#church {
  bottom: 16%;
  right: 52%;
}

#cult {
  top: 63%;
  left: 60%;
}

#farm {
  top: 30%;
  left: 65%;
}
