@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom properties if needed */
:root {
    --vt-c-white: #ffffff;
    --vt-c-black: #181818;
    --vt-c-indigo: #2c3e50;
    --color-border: rgba(60, 60, 60, 0.12);
    --color-border-hover: rgba(60, 60, 60, 0.29);
    --color-heading: var(--vt-c-indigo);
    --color-text: var(--vt-c-indigo);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-border: rgba(84, 84, 84, 0.48);
        --color-border-hover: rgba(84, 84, 84, 0.65);
        --color-heading: var(--vt-c-white);
        --color-text: rgba(235, 235, 235, 0.64);
    }
}

body {
    @apply min-h-screen text-base leading-relaxed font-sans text-gray-900 bg-white transition-colors duration-500;
}

@media (prefers-color-scheme: dark) {
    body {
        @apply text-gray-300 bg-gray-900;
    }
}