@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #cecece;
    letter-spacing: 0.1rem
}

body {
    background-color: #242424;
    min-height: 100vh;
}

@keyframes underline-animation {
    from {
        text-decoration-color: transparent;
    }
    to {
        text-decoration-color: #0300ff;
    }
}

.router-link-active {
    text-underline-offset: 0.5rem;
    text-decoration: underline;
    text-decoration-color: #0300ff;
    animation: underline-animation 0.5s ease-in-out;
}